*{
    margin: 0px;
    padding: 0px;
}
.blink-navbar{
    border-bottom:1px solid rgb(248, 244, 244);
    position: sticky;
    top:0px;
    height: 12vh;
    background-color: white;
}
.vertical-line{
    border-left: 1px solid rgb(248, 244, 244);
    height: 100%;
}

.location>p{
    font-size: 13px;
    font-weight: 400;
}
.search-bar{
    background-color:#f8f8f8;
    border-radius: 1px solid rgb(248, 244, 244);
    padding: 10px;
    width: 40vw;
}
.search-bar>input{
    border: none;
    width: 90%;
    height: 5vh;
    background-color: transparent;
}
.search-bar>input:focus{
   
    outline: none;
}
.hero-section1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.paan-image{
    width:85%;
    
}
.scrollable{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    overflow-x: auto;
    width: 85vw;
}
.list{
    width: 100%;
    margin-inline: auto;
    white-space: nowrap;
}
.list>div{
    display: inline-block;
    margin: 10px;
}


.my-catagories{
    display: flex;
    flex-wrap: wrap;
    margin-inline: auto;
    justify-content: space-around;
    flex-direction: row;
    width: 80vw;
    margin-top: 50px;
}

/*------------------------- cards------------- */
.my-row{
    height: auto;
    /* margin-left: 10%; */
    width: 85vw;
    justify-content: center;
    margin-inline: auto;
    overflow: hidden;
}

.product-name{
    /* overflow: hidden; */
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    width: 100%;
    height: 36px;
    margin-top: 6px;
    margin-bottom: 6px;
    flex-wrap: wrap;
    box-sizing: border-box;
    white-space: pre-wrap;
}
.product-weight{
   font-size: 14px;
   color:gray;
}
.time-taken{
    font-size: 10px;
    font-weight: 700;
    width: fit-content;
    padding: 2px 3px;
}

.product-btn{
    border: 1px solid green;
    border-radius: 7px;
    color: rgb(49,134,22);
    background-color: rgb(249, 255, 247);
    width: 55% !important;
   padding: 5px 5px;
    font-weight: 700;
    /* margin-top: -11% !important; */
    align-items: end;
}
.my-catagory-row{
    display: flex;
    justify-content: space-between;
   margin-inline: auto;
   overflow-x: auto;
}

.my-card{
    display: flex;
   justify-content: space-between;
    width:200px;
   box-sizing: border-box;
   border-radius: 20px;
   margin-inline: auto;
   white-space: nowrap;
  margin: 5px;
}

/* ----------footer css--------- */
.footer{
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    justify-content: center;
    align-items: center;
    width: 90vw;
}
.title{
   display: flex;
   flex-direction: row;
}
.row-1{
    display: flex;
    align-items: center;
    padding: 4%;
    
}
.row-1-col-1{
    display: flex;
    
}
.row-1-col-1 h5{
    width: 100%;
}
.row-1-col-2{
    display: flex;
    margin-inline: auto;
}
.row-1-col-2>h5{
    text-decoration: none;
}
.list-1>ul{
    color:#666666;
    list-style: none;
}
.list-2>ul{
    color:#666666;
    list-style: none;
}
.list-3>ul{
    color:#666666;
    list-style: none;
}
.row-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f6f6;
    padding-inline: 3px;
    width: 80vw;
}
.row-2-col-1{
    color:#666666;
    font-size: 14px;
    width:35%;
   
}
.row-2-colo-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-2-col-3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-2-col-3>a{
    border-radius: 50%;
    background-color: black;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 5px;
}
.row-2-colo-2>button{
    width: 100px;
    height: 40px;
    color:white;
    border-radius: 10px;
    border: none;
    background-color: rgb(25, 25, 65);
    margin-inline: 5px;
}
.row-3{
    color:#666666;
    font-size: 15px;
    padding: 1%;
    text-align: justify;
}